.wrapper{
   overflow: clip ;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > .main{
   flex: 1 0 auto;
}

[class*="__container"]{
   max-width: 1908px;
   padding: 0px 15px;
   margin: 0 auto;
}
[class*="__image"]{
   overflow: hidden;
   position: relative;
   
   img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
   }
   &:hover{
      img{
         transform: scale(1.05);
      }
   }
}
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t7l, .t8, .t8s, .t9{
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
}
.t0{
   @include fontSetup(13px, 300, 13px, #4F4F4F);
}
.t1{
   @include fontSetup(96px, 600, 110px, #131313);
}
.t2{
   @include fontSetup(56px, 500, 72px, #000);
}
.t3{
   @include fontSetup(48px, 600, 62px, #000);
}
.t4{
   @include fontSetup(26px, 400, 38.53px, #000);
}
.t5{
   @include fontSetup(24px, 400, 34px, #000);
}
.t6{
   @include fontSetup(22px, 500, 32.6px, #000);
}
.t7{
   @include fontSetup(18px, 500, 26.68px, #000);
}
.t7l{
   @include fontSetup(18px, 600, 26.68px, #BDBDBD);
}
.t8{
   @include fontSetup(14px, 400, 24px, #3F3F3F);
}
.t8s{
   @include fontSetup(14px, 400, 20.75px, #828282);
}
.t9{
   @include fontSetup(12px, 600, 17.78px, #BDBDBD);
}
.rob1, .rob2, .rob3, .rob4{
   font-family: 'Roboto', sans-serif;
}
.rob1{
   @include fontSetup(25px, 300, 37px, #000);
}
.rob2{
   @include fontSetup(22px, 300, 37px, #000);
}
.rob3{
   @include fontSetup(16px, 300, 24px, #000);
}
.rob4{
   @include fontSetup(14px, 400, 20px, #3F3F3F);
}

@media(max-width: 767.98px){
   .t1{
      @include fontSetup(50px, 600, 70px, #131313);
   }
   .t3{
      @include fontSetup(26px, 600, 36px, #131313);
   }
   .t2{
      @include fontSetup(30px, 500, 40px, #000);
   }
   .rob1{
      @include fontSetup(20px, 300, 30px, #000);
   }
}
.btn{
   display: inline-block;
   text-transform: uppercase;
   padding: 13px 43px;
   transition: all 0.3s ease-in-out;
   background-color: transparent;
}

.b-btn{
   border: 2px solid #000000;
   &:hover{
      background-color: #000;
      color: #fff;
   }
}
.g-btn{
   border: 2px solid #828282;
   &:hover{
      background-color: #828282;
      color: #fff;
   }
}

.price{
   display: flex;
   align-items: center;
   gap: 14px;
   .new-price.n{
      color: #EB5757;
   }
   .old-price{
      text-decoration: line-through;
   }
}

.disc-label{
   padding: 0px 5px;
   background-color: #000;
}

.frame-box{

   .frame-text{
      max-width: 639px;
   }

   .frame-title{
      padding: 19px 19px 19px 0px;
      margin-bottom: 7px;
      position: relative;
      &::before{
         content: "";
         width: 90%;
         height: 100%;
         position: absolute;
         top: 0;
         right: 0;
         border-top: 2px solid #000;
         border-right: 2px solid #000;
      }
   }

   .frame-subtitle{
      margin-bottom: 24px;
      padding-right: 15px;
   }

   .frame-btn{

   }
   @media(max-width: 1200px){

   }
   @media(max-width: 998.98px){
      .frame-text{
         margin: 0px 30px 0px 30px;
         max-width: none;
         background-color: rgba($color: #fff, $alpha: 0.3);
         padding: 15px;
         border-radius: 10px;
      }
      .frame-title{
         padding-top: 0;
         &::before{
            display: none;
         }
      }
   }
   @media(max-width: 767.98px){
      .frame-text{
         margin: 0px 15px 0px 15px;
         padding: 10px;
      }
   }
}

.top-line {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.arrows {
   display: flex;
   gap: 4px;
   .arrow {
      width: 40px;
      height: 40px;
      border: 2px solid #C4C4C4;
      background-color: transparent;
      transition: transform 0.3s ease-in-out;
      &:hover{
         background-size: 10px 15px;
      }
   }

   .arrow--left {
      background: url(../img/icons/arrow-l.svg) center / 7px 12px no-repeat;
   }
   .arrow--right {
      background: url(../img/icons/arrow-r.svg) center / 7px 12px no-repeat;
   }
}

